<h1 class="page-title">Your results</h1>
<% @study_session = StudySession.find(params[:id])  %>
<% @deck = StudySessionDeck.where(study_session_id: @study_session.id).first.deck  %>
<% @user_deck = UserDeck.where(user: current_user, deck: @deck).first %>
<% @cards_reviewed = UserCard.where(
  "(last_reviewed_definition BETWEEN :start AND :end)
   OR
   (last_reviewed_pinyin BETWEEN :start AND :end)",
  start: @study_session.started_at,
  end: @study_session.ended_at
) %>
 <ul>
 <% @cards_reviewed.each do |user_card| %>
 <li>
 <%= user_card.card.entry.chinese %>
 <%= user_card.card.entry.pinyin %>
 <% Definition.where(entry: user_card.card.entry).each do |definition| %>
 <%= definition.english %>
 <% end %>
 <%= user_card.retention_definition %>
 </li>
 <% end %>
 </ul>

 <%= link_to "< Return to deck", user_deck_path(@user_deck) %>
