<div class="flip-card" data-controller="flip-card" data-action="click->flip-card#toggle" role="button">
    <div class="flip-card-inner" data-flip-card-target="inner">
        <div class="flip-card-front flip-card-face" >
            <h2>
                <%= card.entry.chinese %>
            </h2>
        </div>
        <div class="flip-card-back flip-card-face">
            <h2>
                <%= card.entry.pinyin %>
            </h2>
            <h3>
                <%= UserCard.where(card_id: card.id, user: current_user).first.id %>
            </h3>
            <% Definition.where(entry: card.entry).to_a.each do |definition| %>
                <h2>
                    <%= definition.english %>
                </h2>
                <% end %>

                    <%= button_to "I remember!" , next_study_session_path(study_session), method: :get, form: { data: {
                        turbo_stream: true } }, params: { card_id: card.id, retained: true, deck: deck } %>
                        <%= button_to "I forgot!" , next_study_session_path(study_session), method: :get, form: { data: {
                            turbo_stream: true } }, params: { card_id: card.id, retained: false, deck: deck } %>
        </div>
    </div>
</div>