<% #the code here should probably be handled by the controller %>
<% @user_card = UserCard.where(card: card, user: current_user).first %>
<% 
    # first time reviewing this session? if yes, tally is 0, if no tally + 1
    @user_card.session_review_tally = 0 if @user_card.session_review_tally.nil?
    if @user_card.last_reviewed_definition <= @study_session.started_at 
      @user_card.session_review_tally = 0
    else
      @user_card.session_review_tally = @user_card.session_review_tally + 1
    end
    @user_card.save!
    %>
<% @focus_review = false %>
<% @focus_review = true if @user_card.last_reviewed_definition > study_session.started_at %>
<% @total = Card
      .where(deck: @deck)
      .where(
        id: UserCard
        .where(user: current_user)
        .where("last_reviewed_definition <= ?", @study_session.started_at)
        .where("next_review_definition IS NULL OR next_review_definition <= ?", Time.current)
        .select(:card_id)
      ).count %>
<% @forgotten = Card
      .where(deck: @deck)
      .where(
        id: UserCard
        .where(user: current_user)
        .where("last_reviewed_definition >= ?", @study_session.started_at)
        .where("next_review_definition IS NULL OR next_review_definition <= ?", Time.current)
        .select(:card_id)
      ).count %>
<% @remembered = Card
      .where(deck: @deck)
      .where(
        id: UserCard
        .where(user: current_user)
        .where("last_reviewed_definition >= ?", @study_session.started_at)
        .where("next_review_definition >= ?", Time.current)
        .select(:card_id)
      ).count %>


<div class="flip-card" data-controller="flip-card" data-action="click->flip-card#toggle" role="button">
    <div class="flip-card-inner <%= "is-flipped" if flipped %>"  data-flip-card-target="inner">
        <div class="flip-card-front flip-card-face <%= "focus" if @focus_review %>" >
            <h2 class="large-character">
                <%= card.entry.chinese %>
                <%= render "shared/tts_button", text: card.entry.chinese, size: "small" %>
            </h2>
        </div>
        <div class="flip-card-back flip-card-face">
            <div class="character">
                <%= card.entry.chinese %>
            </div>
            <div class="card-secondary">
                <%= card.entry.pinyin %> <%= render "shared/tts_button", text: card.entry.chinese, size: "very-small" %>
            </div>
            <div class="card-primary">
                <% @preferred_definition = @user_card.preferred_definition %>
                <%=@preferred_definition.english %>
                <div class="change-preferred-definition-label">
                    Want to change the main definition? Just select one from below.
                </div>
            </div>
            <div class="definition-container">
                <div class="definition-item">
                    <% if @focus_review && @temp %>
                        <% if entry_similarity.to_i == 0 %>
                            Did you confuse with a different character?
                        <% end %>
                        <% if entry_similarity.to_i == 2 %>
                            Which character did you confuse it with?

                            <%= simple_form_for :selection,
                                url: next_study_session_path(study_session),
                                method: :get,
                                html: { class: "individual-definition", id: "entry-sim-form", data: { turbo: true, controller: "selection" } } do |f| %>

                            <%= f.input :entry_similarity_ids, as: :hidden,
                                    input_html: { data: { selection_target: "ids" } } %>

                            <%= hidden_field_tag :card_id, card.id %>
                            <%= hidden_field_tag :retained, false %>
                            <%= hidden_field_tag :deck, deck.id %>
                            <%= hidden_field_tag :entry_similarity, 3 %>

                              <% EntrySimilarity.where(entry: card.entry).to_a.each do |es| %>
                                <%= button_tag type: "button",
                                    data: { action: "click->selection#toggle", "selection-id-value": es.id } do %>
                                <%= es.similar_entry.chinese %>
                                <% end %>

                            <% end %>

                            <% EntrySimilarity.where(similar_entry: card.entry).to_a.each do |es| %>
                                <%= es.entry.chinese %>
                            <% end %>

                            <% end %>
                        <% end %>
                        <% if entry_similarity.to_i == 3 %>
                        Ok we'll make a note that sometimes you confuse this character with...
                        <% UserEntrySimilarity.where(user_id: current_user.id).to_a.each do |ue| %>
                            
                                <% if EntrySimilarity.find(ue.entry_similarity_id).entry.chinese == card.entry.chinese %>
                                    <div class="individual-definition">
                                    <%= button_tag type: "button" do %>
                                        <%= EntrySimilarity.find(ue.entry_similarity_id).similar_entry.chinese %>
                                    <% end %>
                                    </div>
                                <% end %>
                                <% if EntrySimilarity.find(ue.entry_similarity_id).similar_entry.chinese == card.entry.chinese %>
                                    <div class="individual-definition">
                                    <%= button_tag type: "button" do %>
                                        <%= EntrySimilarity.find(ue.entry_similarity_id).entry.chinese %>
                                    <% end %>
                                    </div>
                                <% end %>
                        
                        <% end %>
                        <% end %>
                    <% else %>
                        <% Definition.where(entry: card.entry).to_a.each do |definition| %>
                            <% if definition != @preferred_definition && definition.english.include?("CL:") == false %>
                            <%= button_to user_card_path(@user_card),
                                method: :patch,
                                params: { user_card: @user_card, preferred_definition_id: definition.id, card: card, study_session: study_session, deck: deck },
                                form: { data: { turbo: true } ,
                                class: "individual-definition"} do %>                                    
                                    <%= definition.english %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    </div>
            </div>
                <div class="button-container">
                    <% if @focus_review && @temp %>
                        <% if entry_similarity.to_i == 0 %>
                            <%= button_to "No" , next_study_session_path(study_session), method: :get, form: { data: {
                                turbo_stream: true } }, params: { card_id: card.id, retained: false, deck: deck, entry_similarity: 4 }, class: "card-button forgot" %>
                            <%= button_to "Yes" , next_study_session_path(study_session), method: :get, form: { data: {
                                turbo_stream: true } }, params: { card_id: card.id, retained: false, deck: deck, entry_similarity: 2 }, class: "card-button remember" %>
                        <% end %>
                        <% if entry_similarity.to_i == 2 %>
                            <%= button_to "Cancel" , next_study_session_path(study_session), method: :get, form: { data: {
                                turbo_stream: true } }, params: { card_id: card.id, retained: false, deck: deck, entry_similarity: 4 }, class: "card-button forgot" %>
                            <%= button_tag "Continue",
                                type: "submit",
                                form: "entry-sim-form",
                                class: "card-button remember",
                                data: { turbo_stream: true } %>
                        <% end %>
                        <% if entry_similarity.to_i == 3 %>
                        <%= button_to "Next!" , next_study_session_path(study_session), method: :get, form: { data: {
                            turbo_stream: true } }, params: { card_id: card.id, retained: false, deck: deck, entry_similarity: 4 }, class: "card-button forgot" %>
                        <% end %>
                    <% else %>
                        <%= button_to "I forgot!" , next_study_session_path(study_session), method: :get, form: { data: {
                            turbo_stream: true } }, params: { card_id: card.id, retained: false, deck: deck }, class: "card-button forgot" %>
                        <%= button_to "I remember!" , next_study_session_path(study_session), method: :get, form: { data: {
                            turbo_stream: true } }, params: { card_id: card.id, retained: true, deck: deck }, class: "card-button remember" %>
                    <% end %>
            </div>
        </div>
    </div>
</div>

<div class="interactions-container">
    <div class="study-session-info">Revising definitions for <%= @deck.name %></div>
    <div class="study-session-info">Remaining: <%= @total %>. Forgotten: <%= @forgotten %>. Remembered: <%= @remembered %></div>
    <div class="study-session-info">Times this card has been reviewed this session: <%= @user_card.session_review_tally %></div>
</div>
<div class="buttons-container">
    <%= button_to "End session",
                end_session_study_session_path(study_session),
                method: :get,
                class: "mx-auto button outline-secondary",
                data: { turbo_confirm: "End this session?" } %>
</div>