<% #the code here should probably be handled by the controller %>
<% @user_card = UserCard.where(card: card, user: current_user).first %>
<% @focus_review = false %>
<% @focus_review = true if @user_card.last_reviewed_pinyin > study_session.started_at %>
<% @total = Card
      .where(deck: @deck)
      .where(
        id: UserCard
        .where(user: current_user)
        .where("last_reviewed_pinyin <= ?", @study_session.started_at)
        .where("next_review_pinyin IS NULL OR next_review_pinyin <= ?", Time.current)
        .select(:card_id)
      ).count %>
<% @forgotten = Card
      .where(deck: @deck)
      .where(
        id: UserCard
        .where(user: current_user)
        .where("last_reviewed_pinyin >= ?", @study_session.started_at)
        .where("next_review_pinyin IS NULL OR next_review_pinyin <= ?", Time.current)
        .select(:card_id)
      ).count %>
<% @remembered = Card
      .where(deck: @deck)
      .where(
        id: UserCard
        .where(user: current_user)
        .where("last_reviewed_pinyin >= ?", @study_session.started_at)
        .where("next_review_pinyin >= ?", Time.current)
        .select(:card_id)
      ).count %>

<div class="flip-card" data-controller="flip-card" data-action="click->flip-card#toggle" role="button">
    <div class="flip-card-inner <%= "is-flipped" if flipped %>"  data-flip-card-target="inner">
        <div class="flip-card-front flip-card-face <%= "focus" if @focus_review %>" >
            <h2 class="large-character">
                <%= card.entry.chinese %>
                <%= render "shared/tts_button", text: card.entry.chinese, size: "small" %>
            </h2>
        </div>
        <div class="flip-card-back flip-card-face">
            <div class="character">
                <%= card.entry.chinese %>
            </div>
            <div class="card-secondary">
                <% @preferred_definition = @user_card.preferred_definition %>
                <%=@preferred_definition.english %>
            </div>
            <div class="card-primary">
                <%= card.entry.pinyin %> <%= render "shared/tts_button", text: card.entry.chinese, size: "very-small" %>
            </div>
            <div class="definition-container">
                <div class="definition-item">
                    <% if @focus_review %>
                    Did you confuse with any of these?
                        <% EntrySimilarity.where(entry: card.entry).to_a.each do |es| %>
                            - <%= es.similar_entry.chinese %>
                        <% end %>
                        <% EntrySimilarity.where(similar_entry: card.entry).to_a.each do |es| %>
                            - <%= es.entry.chinese %>
                        <% end %>
                    <% end %>
                    </div>
            </div>
                <div class="button-container">

                    <%= button_to "I forgot!" , next_study_session_path(study_session), method: :get, form: { data: {
                        turbo_stream: true } }, params: { card_id: card.id, retained: false, deck: deck }, class: "card-button forgot" %>
                    <%= button_to "I remember!" , next_study_session_path(study_session), method: :get, form: { data: {
                        turbo_stream: true } }, params: { card_id: card.id, retained: true, deck: deck }, class: "card-button remember" %>
            </div>
        </div>
    </div>
</div>

<div class="interactions-container">
    <div class="study-session-info">Revising pinyin for <%= @deck.name %></div>
    <div class="study-session-info">Remaining: <%= @total %>. Forgotten: <%= @forgotten %>. Remembered: <%= @remembered %></div>
</div>
<div class="buttons-container">
    <%= button_to "End session",
                end_session_study_session_path(study_session),
                method: :get,
                class: "mx-auto button outline-secondary",
                data: { turbo_confirm: "End this session?" } %>
</div>